<div class="row">
    <div class="col-md-9">
        <h1>Jobs</h1>
    </div>
    <div class="col-md-3">
        <div class="filter">
            <h3 class="filter__title">Filters</h3>
        </div>
    </div>
</div>